* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url(../images/bg\ image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.8705882353);
}

::-webkit-scrollbar-thumb {
  background: rgba(43, 43, 43, 0.8705882353);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(43, 43, 43, 0.8705882353);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-moz-selection {
  color: #042640;
  background: rgba(253, 253, 253, 0.8980392157);
}

::selection {
  color: #042640;
  background: rgba(253, 253, 253, 0.8980392157);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  padding: 10px 0;
  background: rgba(80, 63, 63, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(80, 63, 63, 0.12);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s;
}
.logo:active {
  transform: scale(0.9);
}

.search {
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  padding: 5px 15px;
  border-radius: 20px;
}
.search input {
  background-color: rgba(253, 253, 253, 0.8980392157);
  outline: none;
  font-size: 20px;
  border: none;
  padding: 5px;
  color: rgba(43, 43, 43, 0.8705882353);
  border-radius: 5px;
}
.search input::-moz-placeholder {
  color: rgba(43, 43, 43, 0.8705882353);
}
.search input::placeholder {
  color: rgba(43, 43, 43, 0.8705882353);
}
.search button {
  background: none;
  border: none;
  cursor: pointer;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__container h1 {
  font-size: 70px;
  color: #aab8bb;
}
.main__container h2 {
  font-size: 50px;
  margin-top: 20px;
  color: #fdfdfd;
}
.main__container .card_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  padding: 10px 13px;
  gap: 10px;
  background-color: #003459;
  border: 1px solid rgba(5, 48, 82, 0.7058823529);
  border-radius: 10px;
  color: #5d9dac;
  font-size: 15px;
}
.card input {
  padding: 3px 5px;
  border-radius: 5px;
  color: rgba(43, 43, 43, 0.8705882353);
  outline: none;
  border: 1px solid #003459;
}
.card input:focus {
  border: 1px solid #2d67a8;
}
.card input::-moz-placeholder {
  color: rgba(43, 43, 43, 0.8705882353);
}
.card input::placeholder {
  color: rgba(43, 43, 43, 0.8705882353);
}
.card p {
  font-size: 19px;
}

.result_text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.result_text button {
  background-color: rgba(14, 80, 131, 0.4941176471);
  border: 1px solid #aab8bb;
  color: #aab8bb;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transform: 0.3s;
}
.result_text button:active {
  transform: scale(0.95);
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.result textarea {
  padding: 3px 5px;
  width: 100%;
  border: none;
  outline: none;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #003459;
}
.result textarea:focus {
  border: 1px solid #2d67a8;
}
.result button {
  background-color: rgba(14, 80, 131, 0.4941176471);
  border: 1px solid #aab8bb;
  color: #aab8bb;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  transform: 0.3s;
}
.result button:active {
  transform: scale(0.95);
}/*# sourceMappingURL=style.css.map */